<{{ item.value.type }}>
  <scope>GLOBAL</scope>
  <id>{{ item.key }}</id>
  <description>{{ item.value.description | default('') }}</description>
  {% if item.value.username is defined %}
    <username>{{ item.value.username }}</username>
  {% endif %}
  {% if item.value.password is defined %}
    <password>{{ item.value.password }}</password>
  {% endif %}
  {% if item.value.secret is defined %}
    <secret>{{ item.value.secret }}</secret>
  {% endif %}
  {% if item.value.privateKey is defined %}
    <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource">
    <privateKey>{{ item.value.privateKey }}</privateKey>
    </privateKeySource>
  {% endif %}
</{{ item.value.type }}>
