<{{ item['type'] }}>
  <scope>GLOBAL</scope>
  <id>{{ item['id'] }}</id>
  <description>{{ item['description'] | default('') }}</description>
  {% if item['username'] is defined %}
    <username>{{ item['username'] }}</username>
  {% endif %}
  {% if item['password'] is defined %}
    <password>{{ item['password'] }}</password>
  {% endif %}
  {% if item['secret'] is defined %}
    <secret>{{ item['secret'] }}</secret>
  {% endif %}
  {% if item['privateKey'] is defined %}
    <privateKeySource class="com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey$DirectEntryPrivateKeySource">
    <privateKey>{{ item['privateKey'] }}</privateKey>
    </privateKeySource>
  {% endif %}
</{{ item['type'] }}>
